

.cover{

    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:100%;
    background-image: url('../images/cover.jpg');
    height: 400px;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding: 10%;
}
.cover a{
text-decoration: none;
}
.get-started:hover{
background-color:#ff4000}




.cover img{
width: 300px;

margin-left:70%;}



.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    vertical-align: center ;


}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.navbar-user{
float:right;
}


.get-started{
    font-size: 40px;
    display: flex;
    color:#1aff53;
    background-color:#ff6633;
    width:400px;
    height:100px;
    border-radius:50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    vertical-align: center ;

}
.block-startup{
width: 30%;
height: 600px;
border:2px solid #C0C0C0;
padding: 2%;
margin-bottom: 20px;
}

.block-startup img{
width:100%;
height:200px;
}


.card-box {
width: 100%
}

.card-img{
width:40%;
height:200px;
}

.progress{
    width: 80%;
    height: 30px;
    background-color: red;
}

.tag{
font-size:20px}


   .donate-button{
   float:right;
    width:200px;

    }
    .profile-picture{
    width:30%;
    }

.top-1-anime{
    margin-bottom: 2px;
    width: 0px;
    height: 30px;
    background: green;
    animation: top-1 ease-in-out  2s 1 forwards;
}
.top-2-anime{
    margin-bottom: 2px;
    width: 0px;
    height: 30px;
    background: green;
    animation: top-2 ease-in-out  2s 1 forwards;
}
.top-3-anime{
padding-top:12px;
    margin-bottom: 2px;
    width: 0px;
    height: 30px;
    background: green;
    animation: top-3 ease-in-out  2s 1 forwards;
}
.top-4-anime{
    margin-bottom: 2px;
    width: 0px;
    height: 30px;
    background: green;
    animation: top-4 ease-in-out  2s 1 forwards;
}
.top-5-anime{
    margin-bottom: 2px;
    width: 0px;
    height: 30px;
    background: green;
    animation: top-5 ease-in-out  2s 1 forwards;
}
.top-6-anime{
    margin-bottom: 2px;
    width: 0px;
    height: 30px;
    background: green;
    animation: top-6 ease-in-out  2s 1 forwards;
}








@keyframes top-1{
    0%   {width: 0;}
    100% {width: 150px;}
}
@keyframes top-2{
    0%   {width: 0;}
    100% {width: 50px;}
}
@keyframes top-3{
    0%   {width: 0;}
    100% {width: 120px;}
}
@keyframes top-4{
    0%   {width: 0;}
    100% {width: 200px;}
}@keyframes top-5{
    0%   {width: 0;}
    100% {width: 55px;}
}
@keyframes top-6{
    0%   {width: 0;}
    100% {width: 95px;}
}



footer{
    color: #CBD0D3;
    margin-top: 40px;
    padding: 40px;
    background-color: #363a3e ;
    height: 200px;
}
.footer-center{
    height: 80px;
}
.mail{
    width:262px ;
    height: 50px;
    border:solid 2px rgb(216, 216, 216);
    padding: 10px;
}

.mail-text{
    font-size: 12px;
}



.footer-left{
    width: 380px;
}
.social{
    width: 150px;
}
footer li{
    margin-top: 10px;
}
.right{
    width:500px

}



/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
}

.team .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.team .member .member-info-content {
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

.team .member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;
  background: rgba(78, 64, 57, 0.6);
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  display: block;
  color: #fff;
  margin-top: 15px;
}

.team .member .social a:hover {
  color: #1EC500;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member:hover .member-info {
  background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}

.team .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}

.team .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}

.team-ph{
height:300px}


@media (max-width: 1000px){
    .mobile{

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .block-startup{
        width: 100%;


    }

    .get-started{
    margin-top:15px;
        font-size: 30px;



        width:250px;
        height:70px;
        border-radius:30px;

    }


    .cover{
    padding:10%;
    height:300px}

    .tablet-footer{
        display: flex;
        flex-direction: column;
    }
    .footer-left{
        width: 100%;
    }
    footer{
        padding: 15px;
        height: 300px;
    }
    .right{
        margin-top: 40px;
        width: 100%;
    }
.cover img{
width: 200px;

margin-left:15%;}





}



